<section>
    <div>
        <h1>Panier</h1>
        <div>
            <%@items.each do%>
            <div>
                <%item.image_url%>
            </div>
            <div>
                    <h2><%item.title%></h2>
                    <%= link_to item_path(item.id), data: {turbo_method: :delete},  class: 'btn btn_inscription btn_primary' do %>
                    <i class="bi bi-trash3"></i> 
                    <% end %>
            </div>
            <div>
                <p><%item.price%></p>
            </div>
            <%end%>
        </div>
    </div>
</section>