.inline {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .space_between {
    justify-content: space-between;
    width: 100%;
  }

header{
    background-color: var(--primary_color);
    position: sticky;
    top: 0;
    width: 100vw;
    margin-bottom: 4rem;
    color: var(--complementary_color);
    display: flex;
    justify-content: center;
    z-index: 999;
 }

.right_part_nav{
  position: relative;
  left: 0;
}

 .icone{
  color: var(--complementary_color);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .icone_cart{
  background-color: var(--primary_color);
  text-decoration: none;
  padding: 0.5rem 0.5rem 0.5rem;
  border: none;
  border-radius: 999px;
  color: var(--complementary_color);
  font-size: 1.4rem;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
 }

 .logo{
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: var(--secondary_color);
 }

 .dropdown-toggle::after {
  content : none;
 }

nav{
  max-width: 1800px;
  width: 90%;
}

a{
  color: var(--complementary_color);
}